     <!-- All JavaScript at the bottom, except for Modernizr which
        enables HTML5 elements & feature detects -->
    
    <script src="{{ media_url('js/libs/modernizr-1.7.min.js') }}"></script> 
   