 <aside class="span3">
 <div class="content bio">
 <div class="illustration">
<!-- <img src="http://graal.ens-lyon.fr/~dbalouek/profil_pro" alt="Daniel Balouek"> -->
<img src="http://graal.ens-lyon.fr/~dbalouek/profil" alt="Daniel Balouek">
 </div>
 <div class="clear">
</div>
<!-- <h2>Daniel Balouek-Thomert</h2> -->
  <p class="largefont">
 <b>Daniel Balouek-Thomert</b>
</p>
 
 <p>
 <b>Research Associate</b>
</p>

 <p>
Rutgers Discovery Institute Informatics <br>
Department of Computer Science <br>
Rutgers University <br>
</p>

 <p>
 <b>News: </b> <br>
 </p>
 
  <p>
 <b>Upcoming events: </b> <br>
 </p>
 
<hr>

<p> 
 <b>Contact </b><br/>
<a href="mailto:#">Daniel.Balouek (at) rutgers.edu </a><br/><br/>
96 Frelinghuysen Road <br/>
Piscataway, NJ <br/>
<br/>
Office: CoRE Building, Rm 626<br/>

</p>

<hr>

<script type="text/javascript" src="//ra.revolvermaps.com/0/0/6.js?i=07va7wk2bfg&amp;m=0&amp;s=220&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=0" async="async"></script>


<div id="social-logos">

 <a href="https://twitter.com/dbalouek" title="daniel.balouek on Twitter">
 <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png" alt="Twitter logo" width="50"/>
 </a>
 <a href="http://fr.linkedin.com/in/dbalouek" title="daniel.balouek on LinkedIn">
 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" alt="LinkedIn logo" width="50"/>
 </a>
<a href="https://github.com/dbalouek" title="daniel.balouek on Github">
<img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" alt="Github logo" width="50"/>
 </a>
 </div>

</div>
 </aside>
 
